# ==========================
# SENSITIVE FILES (DO NOT UPLOAD)
# ==========================
config/config.php
.env

# ==========================
# LOGS
# ==========================
logs/
*.log

# ==========================
# CACHE / TEMP STORAGE
# ==========================
storage/cache/
*.cache
*.tmp

# # ==========================
# # COMPOSER / NODE MODULES
# # ==========================
vendor/
node_modules/


# ==========================
# FRONTEND BUILD OUTPUT (if any)
# ==========================
dist/
build/

# # ==========================
# # OS FILES
# # ==========================
.DS_Store
Thumbs.db

# # ==========================
# # IDE Files
# # ==========================
.vscode/
.idea/
