# ==========================
# SENSITIVE FILES (DO NOT UPLOAD)
# ==========================
config/config.php

# ==========================
# LOGS
# ==========================
logs/
*.log

# # ==========================
# # SYSTEM / CACHE / TEMP
# # ==========================
vendor/
node_modules/
cache/
*.json
*.cache
*.tmp

# # ==========================
# # OS FILES
# # ==========================
.DS_Store
Thumbs.db

# # ==========================
# # IDE Files
# # ==========================
.vscode/
.idea/
